[user]
	email = visvanathannaditya@gmail.com
    name = Aditya Visvanathan
    username = canopeerus

[core]
    editor = vim
    excludesfile = ~/.gitignore


[web]
    browser = firefox

[alias]
    c = clone
